:root {
    --toggler-width: 90%;
    --toggler-height: 40px;
    --toggler-bg-color: #da110a;
    --toggler-active-bg-color: #08853c;
    --menu-starting-top: 0px;
    --menu-ending-top: 40px;
    --menu-width: 90%;
    --menu-max-height: 200px;
    --fade-from-color: transparent;
    --fade-to-color: black;
    --timeout: 400ms;

    --sub-menu-width:90%;
    --sub-menu-starter-width:0%;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.container{
    margin-top: 20px;
}

.toggler {
    position: relative;
    z-index: 3;
    width: var(--toggler-width);
    height: var(--toggler-height);
    background-color: var(--toggler-bg-color);
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: background-color 350ms;
}

.toggler--active {
    background-color: var(--toggler-active-bg-color);
}

.menu {
    position: absolute;
    text-align: center;
    top: var(--menu-ending-top);
    box-sizing: border-box;
    width: var(--menu-width);
    padding: 0 20px;
    overflow: hidden;
    border-radius: 5px;
}

.list {
    padding: 0;

}


.display-enter {
    top: var(--menu-starting-top);
    width: var(--toggler-width);
    max-height: var(--toggler-height);
    color: var(--fade-from-color);

}

.display-enter-active {
    top: var(--menu-ending-top);
    width: var(--menu-width);
    max-height: var(--menu-max-height);
    color: var(--fade-to-color);
    transition: all var(--timeout);
}

.display-exit {
    top: var(--menu-ending-top);
    width: var(--menu-width);
    max-height: var(--menu-max-height);
    color: var(--fade-to-color);
}

.display-exit-active {
    top: var(--menu-starting-top);
    width: var(--toggler-width);
    max-height: var(--toggler-height);
    color: var(--fade-from-color);
    transition: all var(--timeout);
}

/** sub menu **/


.list_item {
    z-index: 2;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: background-color 350ms;
    margin: 10px;
    background-color: pink;
    padding: 5px 0;

}

.sublist{
    transition-timing-function: ease-in-out;
    display: inline-block;
    width: 90%;
    position: relative;
}

.sublist-item{
    width: 100%;
    margin: 5px;
    background-color: deeppink;
    border-radius: 20px;
    cursor: context-menu;

}

.sub-display-enter{
    top: -40px;
    width: var(--sub-menu-starter-width);
    max-height: 160px;
    z-index: -1;
}

.sub-display-enter-active {
    top: 0px;
    width: var(--sub-menu-width);
    color: var(--fade-to-color);
    transition: all var(--timeout);
    z-index: -1;
}

.sub-display-exit{
    top: 0px;
    width: var(--sub-menu-width);
    max-height: var(--menu-max-height);
    color: var(--fade-to-color);
    z-index: -1;
}

.sub-display-exit-active {
    top: -40px;
    width: var(--sub-menu-starter-width);
    color: var(--fade-from-color);
    transition: var(--timeout);
    z-index: -1;
}

